<div class="flex justify-content-center ">
    <div class="flex flex-column cor col-8 p-2">
        <div class="flex flex-column justify-content-center align-items-center">
            <div class="flex align-items-center justify-content-center">
                <h3 class="mr-4">Cadastro de cursos</h3>
                <app-botao-voltar></app-botao-voltar>
            </div>
            <h3>Matriz Curricular  COLOCAR NOME DO CURSO AQUI</h3>
            <div class="flex flex-column col-10">
            </div>
            <div>
                <h3>Professores disponiveis</h3>
                <div class="flex flex-row flex-wrap pb-4">
                    <p-table [value]="teachers" [tableStyle]="{ 'min-width': '40rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nome do professor</th>
                                <!-- <th>Email</th> -->
                                <!-- <th>Matéria</th> -->
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-notRegisteredTeacher>
                            <tr>
                                <td>{{ notRegisteredTeacher.name }}</td>
                                <!-- <td>{{ notRegisteredTeacher.email }}</td> -->
                                <!-- <td>{{ notRegisteredTeacher.graduationCourseName }}</td> -->
                                <td><button 
                                    (click)="adicionarAoCurso(courseId, notRegisteredTeacher.teacherId)"
                                    pButton 
                                    pRipple 
                                    label="Adicionar ao curso" 
                                    class="p-button-success">
                                </button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <!-- <div *ngFor="let item of teachers">
                <div class="flex flex-column">
                    <button (click)="adicionarAoCurso(courseId, item.teacherId)">Adicionar</button>
                    <div class="mb-3"><h4>Nome do professor:</h4>
                         {{item.name}}
                    </div>
                </div>
                </div> -->
            </div>
            <div>
                <h3>Professores com aulas</h3>
                <div class="flex flex-row flex-wrap pb-4">
                    <p-table [value]="registeredTeachers" [tableStyle]="{ 'min-width': '40rem' }">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nome</th>
                                <th>Email</th>
                                <th>Matéria</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-registeredTeacher>
                            <tr>
                                <td>{{ registeredTeacher.name }}</td>
                                <td>{{ registeredTeacher.email }}</td>
                                <td>{{ registeredTeacher.graduationCourseName }}</td>
                                <td><button 
                                    (click)="DesvincularCurso(registeredTeacher.registerId)"
                                    pButton 
                                    pRipple 
                                    label="Ativar" 
                                    class="p-button-success">
                                </button></td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>