<div class="flex justify-content-center ">
        <form class="flex justify-content-center col-6 " [formGroup]="formLogin">
            <div class="grid col-6 justify-content-center cor">
                <div class="mt-4 flex flex-column col-8">
                    <label>Email</label>
                    <div class="">
                        <input class="mt-2 w-full" type="text" formControlName="email" autocomplete="off"
                        pInputText>
                    </div>
                </div>
                <div class="mt-4 flex flex-column col-8">
                    <div class="">
                        <label>Senha</label>
                        <input class="mt-2 w-full" type="password" formControlName="password"
                        autocomplete="off" pInputText>
                    </div>
                </div>
                <div class="mt-4 flex flex-column col-6">
                    <button type="submit" pButton
                    (click)="login()" class="cursor-pointer"><i
                        class="pi pi-sign-in w-full"
                        style="font-size: 20px"></i><label>Entrar</label></button>
                </div>
            </div>
    </form>
</div>