<div class="flex flex-column align-center w-full h-full overflow-y-scroll">
    <div class="flex flex-row justify-between cor p-2">
        <span class="w-full">Cadastro de cursos</span>
        <app-botao-voltar></app-botao-voltar>
    </div>
    
    <div class="flex flex-column">
        <div class="flex flex-row justify-center h-full cor p-2">
            <!-- Novo Curso Section -->
            <div class="flex flex-column">
                <h3>Novo Curso</h3>
                <form class="flex flex-column justify-content-between" [formGroup]="formCursos">
                    <div class="flex flex-column">
                        <div class="mt-4 flex flex-column">
                            <label>Nome do Curso</label>
                            <input class="mt-2 w-full bg-black" type="text" formControlName="name" autocomplete="off" pInputText>
                        </div>
                        <div class="mt-4 flex flex-column">
                            <label>Coordenador</label>
                            <p-multiSelect 
                                class="mt-2 multSelect" 
                                [options]="managers" 
                                formControlName="managerId" 
                                optionValue="managerId" 
                                optionLabel="name">
                            </p-multiSelect>
                        </div>
                        <div class="mt-4 flex flex-column">
                            <label>Duração da Aula</label>
                            <input class="mt-2 w-full" type="number" formControlName="classDuration" autocomplete="off" pInputText>
                        </div>
                        <div class="mt-4 flex flex-column">
                            <label>Horário inicio da Aula</label>
                            <input class="mt-2 w-full" type="time" formControlName="classStart" autocomplete="on">
                        </div>
                        <div class="mt-4 flex flex-column">
                            <label>Horario fim da Aula</label>
                            <input class="mt-2 w-full" type="time" formControlName="classEnd" autocomplete="on">
                        </div>
                        <div class="mt-4 flex flex-column">
                            <button type="submit" pButton (click)="novoCurso()" class="flex text-center align-center cursor-pointer">
                                <!-- <i class="pi pi-sign-in w-full" style="font-size: 20px"></i> -->
                                <label>Novo Curso</label>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="flex p-2 cor w-auto justify-center overflow-auto overflow-x-auto align-center">
            <!-- Cursos Cadastrados Section -->
            <div class="flex flex-column w-full">
            <span class="">Cursos</span>
            <div class="p-2 align-middle grid mt-3 sm:grid-cols-1 lg:grid-cols-2">
                <div class="flex flex-column mx-4 my-2 justify-between" *ngFor="let item of cursosCadastrados">
                    <div class="flex justify-between">
                        <button (click)="excluir(item.graduationCourseId)">Excluir</button>
                        <button (click)="editarMatriz(item.graduationCourseId)">Matriz Curricular</button>
                    </div>
                <div>
                    <span>Nome do curso:</span>
                    {{ item.name }}
                </div>
                <div>
                    <span>Coordenador:</span>
                    {{ item.managerName }}
                </div>
                <div>
                    <span>Duração da Aula:</span>
                    {{ item.classDuration }} minutos
                </div>
                </div>
            </div>
            </div>
        </div>
