
<div class="flex justify-content-center ">
    <div class="cor col-8 p-2">
        <div class="flex flex-column align-items-center justify-content-center">
            <div class="flex align-items-center justify-content-center">
                <h3>Olá {{name}}, seja bem vindo!</h3> <button (click)="logout()">Desconectar</button>
            </div>
            <div class="flex flex-row flex-wrap">
                
                <button (click)="CadastroCursos()" *ngIf="role != 'Teacher'">
                    Cadastro de cursos
                </button>
                <button (click)="DispHorarios()" *ngIf="role == 'Teacher' ">
                    Disponibilidade de horários
                </button>
                <button (click)="AtivacaoDeCadastros()" *ngIf="role == 'Admin' || role == 'Principal'">
                    Ativação de cadastros
                </button>
            </div>
            <div *ngIf=""></div>
        </div>
    </div>
</div>