/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "tailwindcss";
html{
    height: 100%;
    width: 100%;
    background-color: #F5F5F5;
}
.cor{
    background-color: #66685C;
    margin: 6px;
    border: #66685C 2px solid;
}
/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {
    button,
    input {
        /* CSS to Reset */
    }
}
@layer tailwind-base, primeng, tailwind-utilities;
        
@layer tailwind-base {
    @import "tailwindcss/preflight";
}

@layer tailwind-utilities {
    @tailwind utilities;
}

button {
    background-color: aqua;
    width: auto;
    border-radius: 5px;
    padding: 3px;
}

input{
    background-color: white;
}